.table-row-item{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #D1D5DB;   
  border-bottom-color: #D1D5DB;
}

.table-element{
  padding-left: 0.5rem;   
  padding-right: 0.5rem; 
  padding-top: 1rem;      
  padding-bottom: 1rem;
}

.blog-published{
    color: #16a34a;
}

.blog-unpublished{
    color: #c2410c;
}

.table-element-button{
    display: flex;
    gap: 0.75rem;
    font-size: 0.75rem; 
    line-height: 1rem;
}

.table-button{
    border: 1px solid #d1d5db; 
    padding-left: 0.5rem;      
    padding-right: 0.5rem;
    padding-top: 0.125rem;     
    padding-bottom: 0.125rem;
    margin-top: 0.25rem;       
    border-radius: 0.25rem;    
    cursor: pointer;
}

.cross-icon{
    width: 2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cross-icon:hover{
    transform: scale(1.05);
}

