.dashboard-container{
  flex: 1;                   
  padding: 1rem;             
  background-color: rgba(239, 246, 255, 0.5); 
}


@media (min-width: 768px) {
  .dashboard-container {
    padding: 2.5rem;          
  }
}

.dashboard-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard-card-para{

  color: rgb(156, 163, 175); 
  font-weight: 300;
}

.dashboard-card-data{
  font-size: 1.25rem;       
  line-height: 1.75rem;     
  color: rgb(75, 85, 99);   
  font-weight: 600
}

.dashboard-card-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 0.75rem;
  min-width: 12rem;

  border-radius: 0.25rem;    
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06);


  cursor: pointer;

  transition: all 0.2s ease;
}

.dashboard-card-box:hover{
  transform: scale(1.05);
}

.dashboard-heading{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem;
  margin-top: 1.5rem;
  color: #4B5563;
}

.dashboard-table-div{
  position: relative;
  background-color: white;

  max-width: 56rem;
  overflow-x: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06); 
  border-radius: 0.5rem;
  
  scrollbar-width: none;
}

.dashboard-table-div  ::-webkit-scrollbar{
  display: none;
}

.dashboard-table{
  width: 100%;
  font-size: 0.875rem;   
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
}

.dashboard-table-heading{
  color: rgb(75, 85, 99);   
  font-size: 0.75rem;      
  line-height: 1rem;        
  text-align: left;         
  text-transform: uppercase;
}

.dashboard-table-heading-element{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
}